/* html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
  background-color: #f2f5f4;
} */

/* #root {
  display: flex;
  align-items: center;
  justify-content: center;
} */

circle {
  stroke: rgba(0, 0, 0, 0.1);
  fill: none;
}

path {
  stroke: #f2f5f4;
  stroke-width: 0.3;
}

text {
  fill: #002060;
  font-weight: 300;
  font-size: 32px;
  text-anchor: middle;
  /* alignment-baseline: central; */
}
